.container{
    max-width: 600px;
}
.btn{
    background: chartreuse;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}
.time{
    font-size: 0.7em;
    color: #999;
}
.update-mssg{
    text-align: center;
    margin: 20px auto;
}
.username{
    font-weight: bold;
    color: orangered;
}